.machine-grid
{
    display: grid;
    grid-template-columns: max-content 500px;
    grid-template-rows: max-content max-content;
    border: 1px solid black;
}

.beverage-selection
{
    background-color: rgb(209, 242, 242);
    border: 2px solid rgb(12, 0, 62);
    border-radius: 10px;
    margin: 10px;
}

.level-indicator
{
    background-color: rgb(209, 242, 242);
    border: 2px solid rgb(12, 0, 62);
    border-radius: 10px;
    margin: 10px;
}

.process-indicator
{

    background-color: rgb(209, 242, 242);
    border: 2px solid rgb(12, 0, 62);
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 10px;
}

.level-indicator>input
{
    width: 400px;
}

.level-indicator>label
{
    font-size: small;
    font-weight: bold;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 400px;
    margin: 0;
  }


 .ingridient-led
 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 100px;
 } 

 .led
 {
    background-color: rgb(148, 206, 206);
    border: 2px solid rgb(12, 0, 62);
    height: 20px;
    width: 50px;
 }

 .process-led
 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;

 }

 .process-led input[type="range"] 
{
    appearance: slider-vertical;
    width: 80px;
}

.current-preocess
{
    display: flex;
    flex-direction: column;
}

#stay
{
    display: inline-block;
}

.counter
{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
}

.counter input[type="text"]
{
    height: 30px;
    position: relative;
}

.counter p
{
    display: inline;
}

