body
{
    background-color: black;
    margin: 0%;
}

.top-bar
{
    background-image: url("../../docs/assets/Images/HTML & CSS/General Images & Icons/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    white-space: nowrap;
}

.city-img
{
    display: inline;
    position: relative;
    left: 50px;
}

.city-selection
{
    display: inline-grid;
    grid-template-columns: auto;
    background-color: transparent;
}

.option
{
    padding-left: 30px;
    position: relative;
    top: -73px;
    left: 50px;
    color: white;
    height: 38px;
}

.option1
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

option
{
    color: white;
}

.temperature-grid
{
    display: inline-grid;
    grid-template-columns: repeat(3,auto);
    background-color: transparent;
    padding-left: 20px;
    position: relative;
    top: -90px;
    left: 50px;
}

.temperature-grid > div 
{
    display: inline-grid;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.time-grid
{
    display: inline-grid;
    grid-auto-flow: column;
    background-color: transparent;
    justify-items: center;
    position: relative;
    top: -90px;
    left: 120px; 
    
}

.time-grid > div
{
    display: inline-grid;
    background-color: transparent;
    padding: 17px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.time-grid img
{
    position: relative;
    left: 13px;
}

.city-selection > div
{
    display: inline-grid;
    background-color: transparent;
}

.top-bar select
{
    height: 50px; 
    background-color: rgb(150 148 148);
}

.time-now
{
    display: inline; 
    color: beige; 
    margin-left: 50px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-bottom: 30px;
    position: relative;
    top: -78px;
    left: 40PX;
    font-size: 25px;
}

#sec
{
    font-size: 15px;
}

#date
{
    color: white;
    font-size: 20px;
}

.value
{
    align-items: center;
    
}

strong
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.mid-bg
{
    background-color: rgb(6 6 6);
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -150px;
}

.mid-head
{
    flex-grow:8; 
    text-align: center; 
    font-size: 25px;
    position: sticky;
    padding-top: 20px;
    padding-left: 250px;
    white-space: nowrap;
}

.mid-container
{
    display: flex;
    position: sticky;
}

.card
{
    flex-grow: 0.1;
    padding-top: 20px;
}

.mid-container > div
{
    color: white;
    position: sticky;   
}

.card-container img
{
    height: 1em;
}

.city-container  
{
    justify-content: center;
}

.main-city-container
{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    overflow-x: scroll;
    justify-content: left;
    padding: 40px;
}

.main-city-container::-webkit-scrollbar
{
    display: none;
}

.main-city-container > div
{
    background-color: rgb(21 21 25);
    background-image: url("../../docs/assets/Images/HTML & CSS/General Images & Icons/cityImage.svg");
    background-size: 90%;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: sticky;
}

.card-container
{
    display: grid;
    grid-template: repeat(4,20px)/90px 90px;
    row-gap: 10px;
    grid-template-areas: "a b"
    "c ."
    "d ."
    "e ."
    "f .";
}

.item1
{
    grid-area: a;
    color: white;
}

.item2
{
    grid-area: b;
    color: white;
    justify-self: right;
}

.item3
{
    grid-area: c;
    color: white;
}

.item4
{
    grid-area: d;
    color: white;
}

.item5
{
    grid-area: e;
    color: white;
}

.item6
{
    grid-area: f;
    color: white;
}

@media screen and (width <= 1000px ) and (width > 800px)
{
    .time-grid > div
    {
        padding: 0;
    } 

    .time-grid
    {
        left: 5px;
    }

    .city-img
    {
        left: 20px;
    }

    .option
    {
        left: 10px;
    }

    .time-now
    {
        left: 5px;
    }

    .temperature-grid
    {
        left: 10px;
        font-size: 15px;
    }
}

@media screen and (width <= 800px ) and (width > 500px)
{
    .time-grid > div
    {
        padding: 0;
    }

    .time-grid
    {
        left: 5px;
    }

    .city-img
    {
        left: 20px;
        height: 10px;
        width: 10px;
    }

    .option
    {
        left: 10px;
    }

    .time-now
    {
        left: 5px;
    }

    .temperature-grid
    {
        left: 0;
        font-size: 15px;
    }
}



